* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:#DBD3D8
  
}

.banner-top {
  color: #6F323C;
  font-size: 45px;

}

.banner-bot {
  color: #2E5E4E;
  font-size: 16px;
  font-family: arial;
}

.banner {
  text-align: center;
  ;
  margin: 20px;
  padding: 10px;
}

.form {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: column wrap;
}

.form-text {
  font-family: arial;
  width: 200px;
}

.sweater {
  text-align: center;
  display: flex;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px;
}

.yes-no {
    font-size: 100px;
    margin: 15px;
  }

.user-loc {
  color:#2E5E4E
}

.loading-header {
  color: #2E5E4E
}

.loading-body {
  width: 425px;
  font-family:arial;
  align-self: center;
  text-align: justify;
  margin: 30px;
  word-spacing: 1pt;
}

input[type=submit] {
  background-image: url(/public/sweater-img1.jpg)
}

